/* CurrentSetDisplay component styles */

.current-set-display {
  grid-row: 4; /* Uses the 5th row */
  grid-column: 1 / 11; /* Occupies all columns of the 1st row */
  display: grid;
  grid-template-rows: 1fr 2fr; /* 2 rows */
  grid-template-columns: 1fr; /* 1 column */
  color: white; /* Text color */
  font-weight: bold; /* Bold text */
  font-size: 1.25rem;
}

.current-set-display-spacer {
  /* This replaces the empty div with width: 100%, textAlign: center */
  width: 100%;
  text-align: center;
}

.current-set-display-data {
  grid-row: 2; /* Uses the 2nd row */
  grid-column: 1; /* Occupies all columns of the 1st row */
  background-color: #282828;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4),
    inset 0 1px 0 rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  position: relative;
  overflow: hidden;
}

/* CSS for date and time elements in rest state */
.current-set-display-data p {
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
  padding: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Specific CSS for date and time containers */
.current-date,
.current-time {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-height: 100%;
}

.current-date p {
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
  padding: 0;
  color: crimson;
  transform: translateX(10px);
}

.current-time p {
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
  padding: 0;
  color: white;
  transform: translateX(-10px);
}
